<%- include('partials/header') %>
    <h2>developer</h2> 
    <section>       
        id - <%= game.developer.id %> <br>
        name - <%= game.developer.name %> <br>
        Country - <%= game.developer.country %> <br>
        Founding Year - <%= game.developer.foundingYear %>    
    </section>
<%- include('partials/footer') %>