<%- include('partials/header') %>
<a href="/games">games</a> <a href="/developers">developers</a> <a href="/login">logout</a>
<h1>Game Developer Information</h1>
<ul>
    <% devs.forEach(function(developer) { %>
        <li>
            Developer: <%= developer.name %><br>
            Country: <%= developer.country %><br>
            Founding Year: <%= developer.foundingYear %> <br> <br>
        </li>
    <% }); %>
</ul>
<%- include('partials/footer') %>