<%- include("partials/header") %>
    <main>  
        <h1>Welkom bij het games overzicht!</h1> 
        <form action="/search" method="GET">
            <label for="searchInput"></label>
            <input type="text" id="searchInput" name="query" placeholder="zoeken">         
        </form> 
<%- include("partials/nav") %>
        <br>
        <section>                   
            <% for (let i = 0; i < games.length; i++) { %>
                       
                <div><a href="/detail.ejs/<%= games[i].id %>">    
                    <p><%= games[i].name %></p> <br>         
                    <img class="image" src="<%= games[i].imageUrl %>" alt="<%= games[i].name %>">                                    
                </a></div>
                <div><p><%= games[i].releaseDate %> </p></div>
                <div><p><%= games[i].metascore %></p> </div>               
                <div><p><%= games[i].genre %> </p></div>
                <div>
                    <p><%= games[i].gameWorld %> </p>
                    <p><%= games[i].gameYear%> </p>
                </div>                                                                          
                <div><p><%= games[i].thingsToDo %> </p></div>
                <div><p> <a href="/developer/<%= games[i].developer.id %>"><%= games[i].developer.name %></a> </p></div>
                <% } %>  
        </section>                 
    </main>
<%- include("partials/footer") %>
