<%- include("partials/header") %>
    <main>  
        <h1>Welkom bij het games overzicht!</h1> 
        <form action="/search" method="GET">
            <label for="searchInput"></label>
            <input type="text" id="searchInput" name="query" placeholder="zoeken">         
        </form> 
<%- include("partials/nav") %>
        <br>                         
            <% for (let i = 0; i < games.length; i++) { %>
                <ul id="json">
                    <li class="mainGame"><a href="/detail.ejs/<%= games[i].id %>">    
                        <%= games[i].name %> <br>         
                        <img class="image" src="<%= games[i].imageUrl %>" alt="<%= games[i].name %>"></a>                                                         
                    </li>
                    <li class="mainGame"><%= games[i].releaseDate %></li>
                    <li class="mainGame"><%= games[i].metascore %></li>               
                    <li class="mainGame"><%= games[i].genre %></li>
                    <li class="mainGame">
                        <%= games[i].gameWorld %>
                        <%= games[i].gameYear%>
                    </li>                                                                          
                    <li class="mainGame"><%= games[i].thingsToDo %></li>
                    <li class="mainGame"><a href="/developer/<%= games[i].developer.id %>"><%= games[i].developer.name %></a></li>
                </ul> 
                <% } %>  
                                
    </main>
<%- include("partials/footer") %>
